{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block body%}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="wrapper">
  <section class="form signup">
    <header> Register</header>
    <form action="#" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="field input">
        <label>Enter your name</label>
        <input type="text" name="lname" placeholder="Enter your name" required>
      </div>

      <div class="field input">
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter Your Email" required>
      </div>

      <div class="field input">
        <label>Age</label>
        <input type="text" name="age" placeholder="Enter Your age" required>
      </div>


      <div class="field input">
        <label>Number</label>
        <input type="text" name="number" placeholder="Enter Your number" required>
      </div>

      <div class="field input">
        <label>Adress</label>
        <input type="text" name="address" placeholder="Enter Your address" required>
      </div>

      <div class="field image">
        <label>Select Imag</label>
        <input type="file" name="image">
      </div>

      <div class="field input">
        <label>Blood Group</label>
        <select name="blood">
          <option value="">Enter Your Blood Group</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>
      </div>

      <div class="field input">
        <label>Nationality</label>
        <input type="text" name="nationality" placeholder="Enter Your nationality" required>
      </div>

      <div class="field input">
        <label> Gender</label>
        <select name="gender">
          <option value="">Enter Your Gender</option>
          <option value="Mela">Mela</option>
          <option value="female">female</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="field input">
        <label>Relegion</label>
        <select name="relegion">
          <option value="">Enter Your Relegion</option>
          <option value="Islam">Islam</option>
          <option value="Hindu">Hindu</option>
          <option value="Buddhism">Buddhism</option>
          <option value="Judaism">Judaism</option>
          <option value="Catholicism">Catholicism</option>
          <option value="Christianity">Christianity</option>
        </select>
      </div>

      <div class="field input">
        <label>Qualification</label>
        <input type="text" name="qualification" placeholder="Enter Your qualification" required>
      </div>

      <div class="field input">
        <label>Date Of Birth</label>
        <input type="text" name="date" placeholder="Enter Your date_of_birth" required>
      </div>

      <div class="field input">
        <label>Father Name</label>
        <input type="text" name="father_name" placeholder="Enter Your father_name" required>
      </div>

      <div class="field input">
        <label>Mother Name</label>
        <input type="text" name="mother_name" placeholder="Enter Your mother_name" required>
      </div>

      <!-- <div class="field input">
            <label>checkbox </label>
            <input type="checkbox" >
          </div> -->

      <div class="field button">
        <button type="submit">Submit</button>
      </div>

    </form>

  </section>
</div>
<br><br><br>


{% endblock %}